<!DOCTYPE html>
<html lang="en">
	<head>
		<title>课程表</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<script src="vue/vue.js"></script>
		<link rel="stylesheet" href="bootstrap-3.3.7/dist/css/bootstrap.css">
		<script src="jquery/jquery.min.js"></script>
		<script src="bootstrap-3.3.7/dist/js/bootstrap.js"></script>
		<script src="vue/vue-resource-1.3.4.js"></script>
		<script src="js/context.js"></script>
		<style>
	    .divdePageBtn {
	        float: right;
	    }
	
	    .btn-primary {
	        float: right;
	    }
	
	    .pager {
	        float: right;
	    }
		
		.form-control{
			margin-bottom: 5px;
		}
	</style>

	</head>
	<body>


			<div class="container-fluid body-content" id="app">
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">教师信息表</h3>
					</div>
					<div class="panel-body form-inline table-responsive">
						<label>
							搜索教师名：
							<input type="text" class="form-control" v-model="keywords" v-on:keyup.enter="query">
						</label>
						<button type="button" class="btn btn-warning btn-md" style="margin: 0px 5px 4px; " @click="query">
							<span class="glyphicon glyphicon-search"></span>
						</button>
						<a href="teachers-add.html" target="iframe_ceshi"><input type="button" value="新建" style="float: right;" class="btn btn-warning" data-toggle="modal" data-target="#modalTeachersAdd"></a>
					</div>
				</div>

				<table class="table table-bordered table-hover table-striped table-responsive">
					<thead>
						<tr>
							<th>编号</th>
							<th>教师名</th>
							<th>教师类型</th>
							<th>性别</th>
							<th>出生日期</th>
							<th>身份证</th>
							<th>电话</th>
							<th>邮箱</th>
							<th>微信</th>
							<th>操作</th>
						</tr>
					</thead>

					<tbody>
					<tr v-for="(item,i) in arrayData" :key="i">
							<td>{{ ((pageCurrent-1)*pagesize)+i+1 }}</td>
							<td>{{ item.tname }}</td>
							<td>{{ item.type}}</td>
							<td>{{ item.tsex }}</td>
							<td>{{ item.birthday }}</td>
							<td>{{ item.code }}</td>
							<td>{{ item.tel }}</td>
							<td>{{ item.email }}</td>
							<td>{{ item.weixin }}</td>

							<td>
								<a href="teachers-revise.html"><input type="button" name="xiugai" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalUpdate"
								 @click="update(item.tid)" value="修改"></a>
								<input type="button" name="shangchu" class="btn btn-danger btn-sm" value="删除" @click="deleteItem(item.tid)">
							</td>
						</tr>
					</tbody>
				</table>

				<!-- 分页按钮 -->
				<div class="pager" id="pager">
					<span class="form-inline">
						<select class="form-control" v-model="pagesize" v-on:change="showPage(1)" number>
							<option value="8">8</option>
							<option value="20">20</option>
							<option value="30">30</option>
							<option value="40">40</option>
						</select>
					</span>
					<template v-for="item in pageCount+1">
						<span v-if="item==1" class="btn btn-default" v-on:click="showPage(1)">
							首页
						</span>
						<span v-if="item==1" class="btn btn-default" v-on:click="showPage(pageCurrent-1)">
							上一页
						</span>
						<span v-if="item==1" class="btn btn-default active" @click="showPage(item)">
							{{item}}
						</span>
						<span v-if="item==1&&item<showPagesStart-1" class="btn btn-default disabled">
							...
						</span>
						<span v-if="item>1&&item<=pageCount-1&&item>=showPagesStart&&item<=showPageEnd&&item<=pageCount" class="btn btn-default"
						 v-on:click="showPage(item)">
							{{item}}
						</span>
						<span v-if="item==pageCount&&item>showPageEnd+1" class="btn btn-default disabled">
							...
						</span>
						<span v-if="item==pageCount&&pageCount!=1" class="btn btn-default" v-on:click="showPage(item)">
							{{item}}
						</span>
						<span v-if="item==pageCount" class="btn btn-default" v-on:click="showPage(pageCurrent+1)">
							下一页
						</span>
						<span v-if="item==pageCount" class="btn btn-default" v-on:click="showPage(pageCount)">
							尾页
						</span>
					</template>
					<span class="form-inline">
						<input class="pageIndex form-control" style="width:60px;text-align:center" type="text" v-model.number="pageNum"
						 v-on:keyup.enter="showPage(pageNum)" />
					</span>
					<span>{{pageCurrent}}/{{pageCount}}</span>
				</div>


			</div>

			<script>
				Vue.http.options.root = httpUrl; //httpUrl在context定义
				Vue.http.options.emulateJSON = true;
				Vue.http.interceptors.push(function(request, next) { //拦截器
					// 跨域携带cookie
					request.credentials = true;
					next();
				})
				var vm = new Vue({
					el: '#app',
					data: {

						//分页数
						pageCount: 1,
						//当前页面
						pageCurrent: 1,
						//分页大小
						pagesize: 8,
						//显示分页按钮数
						showPages: 10,
						//开始显示的分页按钮
						showPagesStart: 1,
						//结束显示的分页按钮
						showPageEnd: '',
                        //输入的指定页码
                        pageNum : 1,
						//分页数据
						arrayData: [],
						keywords: '', // 搜索的关键字
						tid: '',
						tname: '',
						tsex: "",
						tage: "",
						tel: "",
						code: "",
						weixin: "",
						positional: "",
						email: "",
						speciality: "",
						ttype: ""
					},
					created: function() {
						this.showPage(1);
					},
					methods: {

						query: function() {
							this.showPage(1);
						},
						//分页方法
						showPage: function(pageIndex) {

							if (pageIndex > 0) {

                                if (pageIndex > this.pageCount) {
                                    pageIndex = this.pageCount;
                                    this.pageCurrent = this.pageCount;
                                    this.pageNum = this.pageCount;
                                } else {
                                    this.pageCurrent = pageIndex;
                                    this.pageNum = pageIndex;
                                }
								//处理分页点中样式
								var buttons = $("#pager").find("span");
								for (var i = 0; i < buttons.length; i++) {
									if (buttons.eq(i).html() == pageIndex) {
										buttons.eq(i).addClass("active");
									} else {
										buttons.eq(i).removeClass("active");
									}
								}

								this.$http.get('teachers/query', {
									params: {
										"pageNum": pageIndex,
										"pageSize": this.pagesize,
										"tname": this.keywords
									}
								}).then(function(result) {
									var msg = result.body;
									this.arrayData = msg.list;
									this.pageCount = msg.pages;
									this.showPageEnd = msg.lastPage;

								})


								//计算分页按钮数据
								if (this.pageCount > this.showPages) {
									if (pageIndex <= this.showPages / 2) { //pageIndex<=5
										this.showPagesStart = 1;

									} else if (pageIndex >= this.pageCount - (this.showPages - 3) / 2) { //pageIndex>=9
										this.showPagesStart = this.pageCount - this.showPages + 2; //1

									} else {
										this.showPagesStart = pageIndex - (this.showPages - 3) / 2;

									}
								}

							}

						},

						//加载数据
						update: function(tid) {
                            sessionStorage.setItem("key",tid);
						},

						//删除数据
						deleteItem: function(tid) {
							if (confirm('确定要删除吗')) {
								//console.log(index, age);
								this.$http.get('teachers/delete', {
									params: {
										"tid": tid
									}
								}).then(function(result) {
									var msg = result.body;
									if (msg == 1) {
										alert("删除成功！");
										this.showPage(this.pageCurrent);
									} else {
										alert("请先删除对应的信息！");
									}
								})
							}
						},

						loadBebeAdd: function(tid) {
							this.tid = tid;
						},


					}
				});
				$.fn.serializeObject = function() {
					var o = {};
					var a = this.serializeArray();
					$.each(a, function() {
						if (o[this.name] !== undefined) {
							if (!o[this.name].push) {
								o[this.name] = [o[this.name]];
							}
							o[this.name].push(this.value || '');
						} else {
							o[this.name] = this.value || '';
						}
					});
					return o;
				};
			</script>


		</body>
</html>
